.menuItem {
  transition: 0.2s ease;
  font-size: 16px;
  color: #000;
  margin-left: 10px;
}
.menuItem:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.menuItem:active {
  transform: scale(1.2);
}
