.chooseDeviceButton {
  background-color: rgb(0, 204, 0);
  border: none;
  border-radius: 12px;
  padding: 8px;
  transition: 0.2s;
}
.chooseDeviceButton:hover {
  background-color: rgb(91, 255, 91);
  border-radius: 14px;
}
.chooseDeviceButton:active {
  background-color: rgb(198, 255, 198);
}
.waterLogSelect {
  margin-right: 24px;
  margin-left: 14px;
  padding: 4px;
  border-radius: 14px;
  transition: 0.1s ease;
}
.waterLogSelect:hover {
  transform: scale(1.1);
}
.waterLogSelect:focus {
  box-shadow: 0px 0px 4px 1px #ccc;
}
td {
  padding-bottom: 14px;
  padding-top: 8px;
}
