/farm*

/local.yaml
/vendor
/tools
secure/
.scannerwork/

*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
.cache
.project
.settings
.tmproj
.idea
.ipynb_checkpoints
.vscode
.DS_Store
debug
mockgen
