/farm*

/local.yaml
/vendor
/tools
secure/
.scannerwork/

*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
.cache
.project
.settings
.tmproj
.idea
.ipynb_checkpoints
.vscode
.DS_Store
debug
mockgen

back-end/.cache
back-end/.project
back-end/.settings
back-end/.tmproj
back-end/.idea
back-end/.ipynb_checkpoints
back-end/.vscode
back-end/.DS_Store
back-end/debug
back-end/mockgen

