.App {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: Lato, Geneva, Tahoma, sans-serif;
  flex: 1;
}
.Title {
  animation-name: LogoAnimation;
  animation-duration: 4s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  transition: 0.2s ease;
}
.FInput {
  border-radius: 14px;
  padding: 14px;
  border: 0px;
  transition: 0.4s;
  font-size: 14px;
  font-family: "verdana";
  margin-top: 4px;
  margin-bottom: 14px;
}
.FInput:hover {
  box-shadow: 0px 0px 4px 2px #ccc;
}
.FInput:active {
  border-radius: 18px;
  box-shadow: 0px 0px 4px 4px #85fff7;
}
.FInput:focus {
  border-radius: 18px;
  box-shadow: 0px 0px 4px 4px #85fff7;
  outline: none;
}
.FButton {
  background-color: #85ff9d;
  border-radius: 14px;
  border: none;
  box-shadow: 0px 0px 2px 2px #ccc;
  padding: 14px;
  font-size: 14px;
  font-family: Verdana;
  font-weight: bold;
  transition: 0.2s ease;
  margin-bottom: 4px;
}
.FButton:hover {
  background-color: #b9ffc7;
}
.FButton:active {
  background-color: #daffe1;
}
@keyframes LogoAnimation {
  from {
    transform: scale(1.2);
  }
  to {
    transform: rotate(1);
  }
}
